{% extends 'main/layout.html' %}

{% block title %}User registration{% endblock %}


{% block content %}

    <h1>Регистрация события</h1>
    <form class="EventForm" method="POST">
        {% csrf_token %}

        <label for="title">Название мероприятия:</label>
        <input type="text" id="title" name="title" required>

        <label for="organizer">Организатор:</label>
        <input type="text" id="organizer" name="organizer" required>

        <label for="date">Дата:</label>
        <input id="date" name="date" type="date" /><br>

        <label for="start-time">Время начала:</label>
        <input id="start-time" name="start-time" type="time" value="00:00" /><br>

        <div class="dropdown">
            <div class="selected-items"><label for="tags">Тематика мероприятия:</label></div>
                <div class="dropdown-content">
                    {% for interest in interest_list %}
                        <label><input type="checkbox" name="tags[]" value="{{ interest }}">{{ interest }}</label>
                    {% endfor %}
                </div>
        </div>
    </form>

{% endblock %}
